<section class="hero has-background-primary-light is-fullheight pt-5">
  <div class="hero-body">
      <div class="container has-text-centered">
        <div class="grid is-column-gap-4 is-row-gap-4 is-col-min-10">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </div>
  </div>
</section>